body {
	text-align: center;
	background-color: #f2d45e;
}
p.bees {
	font-family: "Verdana";
	font-size: 300%;
	font-weight: bolder;
}
p.bees2 {
	font-family: "Verdana";
	font-size: 400%;
	font-weight: bolder;
}
ul {
	font-family: "Lucida Grande";
	font-size: 125%;
}